* {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 10%;
}

main {
  width: 100%;
  height: 700px;
}

.cabecera {
  padding-top: 10px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(165, 163, 163);
  font-weight: bold;
  padding: 8px 10px;
}

nav ul {
  list-style: none;
}

nav {
  overflow: hidden;
}

nav ul li {
  float: right;
}

header ul li a:hover {
  color: white;
}

@keyframes miAnimacion {
  from {
    color: rgb(28, 31, 29);
  }
}
.titulo {
  animation: miAnimacion 3s;
  color: white;
  padding-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 60;
}

body {
  background-image: url("img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  margin-bottom: 0;
}

.tit_am {
  color: white;
}

.america {
  width: 49%;
  height: 100%;
  float: left;
  font-size: 19;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cuadro_left {
  display: flex;
  width: 100%;
  height: 30%;
  padding-top: 10px;
}

.caja1 {
  background-image: url("img/cuadro1.jpg");
  background-repeat: no-repeat;
  width: 50%;
  margin-left: 10px;
}

.caja2 {
  background-image: url("img/cuadro2.jpg");
  background-repeat: no-repeat;
  width: 50%;
}

.tit_eu {
  color: white;
}

.europa {
  width: 49%;
  height: 100%;
  float: right;
  font-size: 19;
  color: white;
  margin: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cuadro_right {
  display: flex;
  width: 100%;
  height: 30%;
  padding-top: 10px;
}

.caja3 {
  background-image: url("img/cuadro3.jpg");
  background-repeat: no-repeat;
  width: 50%;
}

.img3 {
  width: 300px;
  transition-property: width;
  position: absolute;
  transition-duration: 0.5s;
}

.img3:hover {
  width: 500px;
}

.caja4 {
  background-image: url("img/cuadro4.jpg");
  background-repeat: no-repeat;
  width: 50%;
}

.img4 {
  width: 300px;
  transition-property: width;
  position: absolute;
  transition-duration: 2s;
}

.img4:hover {
  transform: translate(-500px) scale(1.5);
  position: absolute;
  transition: all 1s ease-in-out;
}

.section_a {
  display: flex;
  width: 100%;
  height: 80%;
}

.left_a {
  width: 50%;
  height: 100%;
  float: left;
  font-size: 19;
  padding-left: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.img1 {
  display: block;
  margin: 0 auto;
  width: 650px;
  height: 300px;
  object-fit: cover;
  opacity: 0.5;
}

.img1:hover {
  transition-duration: 1s;
  opacity: 1;
  filter: brightness(140%);
  position: relative;
}

.right_a {
  width: 50%;
  height: 100%;
  font-size: 19;
  padding-left: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.img2 {
  display: block;
  margin: 0 auto;
  width: 650px;
  height: 300px;
  opacity: 0.5;
}

.img2:hover {
  transition-duration: 1s;
  opacity: 1;
  filter: brightness(140%);
}

.section_e {
  width: 100%;
}

.arriba {
  height: 35%;
  font-size: 19;
  padding-left: 10px;
  padding-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.arriba_left {
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  width: 25%;
  height: 100%;
}

.abajo {
  height: 35%;
  font-size: 19;
  padding-left: 10px;
  padding-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.abajo_right {
  float: right;
  padding-left: 10px;
  padding-top: 10px;
  width: 25%;
  height: 100%;
  padding-left: 10px;
}

hmtl {
  scroll-behavior: smooth;
}

footer {
  scroll-behavior: smooth;
  text-align: center;
}

/*# sourceMappingURL=estilos.css.map */
